*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
.logo span{
    font-size:50px;
    font-weight: 900;
    padding-left:50px;
    color:#D3A121 ;
    font-family: 'Brush Script MT',cursive;
}
.login1{
    padding-left: 800px;
}
.login{

    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: #FAF4E4;
}
.login:hover{
    background: #0B0B0B;
    transition: .5s;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow{
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

header.shadow .logo{
    color: #172317;
}
a{
    text-decoration: none;
    color: #fff;
}
.text{
    widows: 100%;
    min-height: 600px;
    color: #FAF4E4;
    margin-left: 100px;
    padding-top: 100px;
    align-items: center;
    font-size: 60px;
    display: flex;
    margin-bottom: 30px;
}
h1{
    display: inline-block;

}

.text .aimg{
    width: 30%;
    height: 500px;
    margin-left: 80px;
    box-shadow: 0 4px 8px 6px black;
}
.btn{
    display: flex;
    margin-left: 70px;
    align-items: center;


}

.btn a{
    align-items: center;
    height: 50px;
    font-size: 30px;
    width: 250px;
    margin-right: 40px;
    background-color: #D3A121;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

/*about*/ 

.about{
    margin:80px 0 80px 90px ;
    color:#FAF4E4;
}
.about h1{
    font-size: 50px;
    margin-bottom: 40PX;
}
.about p{
    font-size: 30PX;
    margin-left: 70px;
    color: #FAF4E4;

}
.edu{
    margin:80px 0 30px 90px ;
    color:#FAF4E4;
}
.edu h2{
    font-size:50px ;
}


.container{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

}
.box{
    background-color:#D3A121;
    width:25%;
    height:100px ;
    margin:8px 10px ;
    display: inline-block;
    border-radius: 6px;
    margin-bottom: 40px;
    
}
.box h3{
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    color:  #0B0B0B;
}

/* ---Skill-- */

.sh1{
    color: #FAF4E4;
    font-size: 40px;
    margin-left: 40px;
}
.container1{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
.box1{
    background-color:nitial;
    background-color: rgb(34, 34, 34);
    width:20%;
    height:250px ;
    margin:8px 10px ;
    display: inline-block;
    border-radius: 6px;
    margin-bottom: 60px;
    
}
.box1 img{
    width: 60%;
    margin-top: 30px;

}
.box1 h3{
    color:#FAF4E4 ;
}

/* ---contact--- */

.head{
    color: #FAF4E4;
    font-size: 20px;
}
.con2{
    margin-top: -52px;
    width: 100%;
    height: 250px;
    background-color: #333333;
    margin-bottom: 30px;
    display: flex;
    font-size: 28px;
}