h1{
  text-align: center;
  font-size: 50px;
}

.pricing-table{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.plan{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
  background-color: black;
  margin: 0 20px;
  width:22%;
}
.plan h3 {
  font-size: 42px;
  line-height: 0.7;
  text-align: center;
}
.plan .price{
  font-size: 30px;
  text-align: center;
}
.plan ul{
  list-style-type: none;
  font-size: 18px;
}
.plan ul li{
  padding-bottom: 10px;
  color: gray;
}
.plan ul i{
  padding-right: 15px;
}
.plan .sign{
  padding: 9px;
  font-size: 15px;
  margin: 25PX 120PX 35PX 89PX;
  text-align: center;
  background-color:darkred;
  color: white;
}